:root {
    --distance-mercury: 166600px;
    --distance-venus: 311278px;
    --distance-earth: 430380px;
    --distance-mars: 655754px;
    --distance-jupiter: 2239155px;
    --distance-saturn: 4112198px;
    --distance-uranus: 8259465px;
    --distance-neptune: 12958286px;
    
    --diameter-sun: 3999px;
    --diameter-mercury: 15px;
    --diameter-venus: 35px;
    --diameter-earth: 37px;
    --diameter-mars: 20px;
    --diameter-jupiter: 412px;
    --diameter-saturn: 347px;
    --diameter-uranus: 148px;
    --diameter-neptune: 143px;
    --diameter-moon: 10px;
   
    --day: 1s;
    --orbit-mercury: 88s;
    --orbit-venus: 224s;
    --orbit-earth: 365s;
    --orbit-mars: 687s;
    --orbit-jupiter: 4380s;
    --orbit-saturn: 10950s;
    --orbit-uranus: 30660s;
    --orbit-neptune: 60150s;
    --orbit-moon: 28s;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('stars.jpg') rgb(5, 5, 15);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 15, 0.831);
    /* transform: scale(2); */
}

.d-flex-center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#sun {
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    background-color: yellow;
    background-image: radial-gradient(closest-corner, yellow 0%, rgb(255, 255, 89) 50%, yellow 100%);
    box-shadow: 0px 0px 19.9px 3px rgba(255, 255, 89, 0.875),
        0px 0px 55.1px 20px rgba(255, 255, 0, 0.709),
        0px 0px 250px 50px rgba(255, 255, 0, 0.582),
        0px 0px 400px 50px rgb(206, 178, 66);
    z-index: 0;
}


.orbit {
    border: rgba(255, 255, 255, 0.1) solid 1px;
    border-radius: 50%;
    z-index: 5;
    position: absolute;
}

.orbit>div {
    border-radius: 50%;
    top: 0;
    left: 50%;
    position: relative;
    z-index: 10;
}


/* Terra */
.orbit:nth-child(2) {
    width: 600px;
    height: 600px;
    animation: orbit 36.5s infinite linear;
}


#earth {
    /* animation: orbit 1s infinite linear; */
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -15px;
    background-color: rgb(2, 17, 49);
    background: url('earth.gif') rgb(2, 17, 49);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    transform: rotateZ(260deg);
}

#moon {
    animation: orbit 2.8s infinite linear;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 20;
    border: rgba(255, 255, 255, 0.1) solid 1px;
    position: absolute;
}

#moon::after {
    animation: moon 2.8s infinite linear;
    background-color: #ffffff;
    background-image: linear-gradient(90deg, #ffffff 10%, rgb(41, 40, 40) 100%);
    border-radius: 50%;
    padding: 5px;
    content: '';
    position: absolute;
    margin-top: 5px;
}

/* Mercúrio */
.orbit:nth-child(3) {
    width: 240px;
    height: 240px;
    animation: orbit 8.8s infinite linear;
}

.orbit:nth-child(3)>div {
    background-color: #d49045;
    background-image: radial-gradient(farthest-corner, #d49045 0%, #954003c7 70%, #d49045 100%);
    /* background-color: rgb(146, 124, 120); */
    width: 12px;
    height: 12px;
    margin-top: -6px;
}


/* Vênus */
.orbit:nth-child(4) {
    width: 400px;
    height: 400px;
    animation: orbit 23.4s infinite linear;
}

.orbit:nth-child(4)>div {
    background-color: rgb(164, 92, 20);
    background-image: radial-gradient(farthest-corner, #d49045 0%, #954003c7 70%, #d49045 100%);
    width: 26px;
    height: 26px;
    margin-top: -14px;
}


/* Marte */
.orbit:nth-child(5) {
    width: 800px;
    height: 800px;
    animation: orbit 68.7s infinite linear;
}

.orbit:nth-child(5)>div {
    background-color: #a41414;
    background-image: radial-gradient(farthest-corner, #e91818d2 0%, #a41414 70%, #e91818d2 100%);
    width: 16px;
    height: 16px;
    margin-top: -8px;
}

/* Júpiter */
.orbit:nth-child(6) {
    width: 1000px;
    height: 1000px;
    animation: orbit 432.89s infinite linear;
}

.orbit:nth-child(6)>div {
    background-color: #FFFFFF;
    background-image: linear-gradient(180deg, #c2adadbf 0%, #5a464699 20%, #c2adadbf 40%, #5a464699 60%, #c2adadbf 80%, #5a464699 90%, #c2adadbf 100%);
    width: 80px;
    height: 80px;
    margin-top: -40px;
}

/* Saturno */
.orbit:nth-child(7) {
    width: 1200px;
    height: 1200px;
    animation: orbit 1076.75s infinite linear;
}

.orbit:nth-child(7)>div {
    background-color: rgb(205, 137, 70);
    background-image: radial-gradient(farthest-corner, #d49045 0%, #954003c7 70%, #d49045 100%);
    width: 60px;
    height: 60px;
    margin-top: -30px;
}

.orbit:nth-child(7)>div::after {
    border: 3px solid rgba(196, 176, 176, 0.911);
    border-right: none;
    border-left-width: 5px;
    padding: 40px;
    position: absolute;
    top: -20%;
    right: -20%;
    content: '';
    transform: rotateY(65deg);
    border-radius: 50px;
}

/* Urano */
.orbit:nth-child(8) {
    width: 1800px;
    height: 1800px;
    animation: orbit 1533.0s infinite linear;
}

.orbit:nth-child(8)>div {
    background-color: rgb(9, 224, 244);
    background-image: radial-gradient(closest-corner, rgb(9, 224, 244) 0%, rgb(12, 76, 81) 70%, rgb(9, 224, 244) 100%);
    width: 50px;
    height: 50px;
    margin-top: -25px;
}

.orbit:nth-child(8)>div::after {
    border: 3px solid rgba(196, 176, 176, 0.272);
    border-right: none;
    border-left-width: 5px;
    padding: 40px;
    position: absolute;
    top: -40%;
    right: -40%;
    content: '';
    transform: rotateY(60deg) rotateX(45deg);
    border-radius: 50px;
}

/* Netuno */
.orbit:nth-child(9) {
    width: 2200px;
    height: 2200px;
    animation: orbit 6018.85s infinite linear;
}

.orbit:nth-child(9)>div {
    background-color: rgb(23, 37, 141);
    background-image: radial-gradient(farthest-corner, rgb(22, 114, 123) 0%, rgb(23, 37, 141) 70%, rgb(22, 114, 123) 100%);
    width: 48.8px;
    height: 48.8px;
    margin-top: -24.4px;
}




@keyframes orbit {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes moon {
    100% {
        transform: rotateZ(-360deg);
    }
}

/* Adicionar texturas, translação na terra, ajustar distancia, tamanho e velociadade da rotação de cada planeta. */